*{
    margin: 0;
    padding: 0;
}
body{
     
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: rgb(120,120,120);
    padding: 20px 10px;
    height: 90px;
   
  }
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;
    
  }

.header .logo{
    position: relative;
    bottom: 20px;
    
}
.d-flex
{
  float: right;
  position: relative;
  top: 5px;
}
.d-flex .btn
{
  color: white;
}
.d-flex input{
  position: absolute;
  height: 35px;
  width: 220px;
  right: 85px;
}

.container{
  width: 500px;
  height: 400px;
  margin-top: 5%;
  border-radius: 5px;
  
  
 
}
#heading{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}
hr{
  color: white;
}
.container .part-1{
  color: white;
  font-size: larger;
  padding-left: 25px;
}
.container .part-2{
  color: white;
  font-size: larger;
  padding-left: 25px;
  
}
input{
  float: right;
  border-radius: 3px;
  height: 27px;
  font-size: medium;
  margin-right: 25px;
}

.buttonSubmit{
  margin-top: 25px;
  text-align: center;

}
#signIn{
  width: 80px;
  background-color: blue;
  color: white;
  border-radius: 3px;

}
.needAccount{
  text-align: center;
  margin-top: 30px;
}


span{
  color: red;
  float: right;
  padding-right: 25px;
  font-size: medium;
}
a{
  text-decoration: none;
}