*{
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: rgb(120,120,120);
    padding: 20px 10px;
    height: 90px;
   
  }
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;
    
  }

.header .logo{
    position: relative;
    bottom: 20px;
    
}
.d-flex
{
  float: right;
  position: relative;
  top: 5px;
}
.d-flex .btn
{
  color: white;
}
.intro{
  padding: 35px;
}
.intro h4{
  text-align: center;
  text-decoration: underline;
}
.intro p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(50,50,50);
}

.header-right a:hover{
  background-color: green;
}
.expkerala{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 35px;
}
.container a{
  padding: 90px;
  text-decoration: none;
}
footer{
  text-align: center;
padding: 3px;
background-color: DarkSalmon;
color: white;
margin-top: 150px;
}
.subscribe{
  border: 1px solid gray;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 14px;
  background-color: beige;
}
.subscribe .mybutton{
  position: relative;
  right: 5px;
}